<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Someone shared a book with you !</title>
    </head>
    <body>
        <table>
            <tr>
                <td>Book :</td>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <td>Resume :</td>
                <td>{{ book.resume }}</td>
            </tr>
            <tr>
                <td>Score :</td>
                <td>{{ book.score }}</td>
            </tr>
        </table>
    </body>
</html>
